$teal: #9EFFE3;
$blue: #263952;
$site-width: 800px;
$breakpoint: 848px;

html { background-color: $blue; }

.is-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
  color: $teal;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Muli', -apple-system, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $teal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  max-width: $site-width;
  display: grid;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 32px 24px;

  @media screen and (min-width: $breakpoint) {
    padding: 64px 24px;

    grid-template:
      auto auto auto // rows
      / 68px 150px auto; // columns

    grid-template-areas:
      "header header nav"
      "h1 h1 h1"
      "figure figure main";

    header { grid-area: header; }
    h1 { grid-area: h1; }
    nav { grid-area: nav; }
    main { grid-area: main; }
    figure { grid-area: figure; }
  }
}

header {
  img {
    height: auto;
    width: 50px;

    @media screen and (min-width: $breakpoint) {
      width: 68px;
    }
  }
}

h1 {
  font-family: 'Anton', Impact, -apple-system, sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;

  @media screen and (min-width: $breakpoint) {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
  }
}

main {
  p {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 28px;

    @media screen and (min-width: $breakpoint) {
      padding-left: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

figure {
  margin: 0;
  padding: 8px 0 0 0;

  img {
    max-width: 300px;
  }

  figcaption {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75;
  }
}

nav {
  padding: 30px 0;

  @media screen and (min-width: $breakpoint) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;

    li a {
      padding: 0 8px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      transition: 0.15s ease-out;
      margin-bottom: 16px;

      @media screen and (min-width: $breakpoint) {
        opacity: 0.7;
        margin-bottom: 0;
        padding: 0 12px;
      }

      span, .ion { transition: 0.15s ease-out; }
      .ion { font-size: 38px; }

      .ion {
        padding-bottom: 8px;

        @media screen and (min-width: $breakpoint) {
          padding-bottom: 0;
        }
      }

      span:nth-child(2) {
        @media screen and (min-width: $breakpoint) {
          opacity: 0;
        }
      }

      &:hover, &:active, &:focus {
        opacity: 1;
        text-decoration: none;
      }
    }

    &:hover li a, &:active li a, &:focus li a {
      span:nth-child(2) {
        opacity: 1;
      }

      .ion { padding-bottom: 8px; }
    }
  }
}
