@font-face {
  font-family: 'Ionicons';
  src: url("fonts/ionicons.eot?v=2.0.0");
  src: url("fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("fonts/ionicons.woff?v=2.0.0") format("woff"), url("fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ion, .ionicons,
.ion-ios-paper::before,
.ion-paper-airplane::before,
.ion-document-text::before,
.ion-social-linkedin::before,
.ion-social-twitter::before,
.ion-social-dribbble::before,
.ion-social-codepen::before,
.ion-social-github::before {
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-ios-paper::before {
  content: "\f472"; }

.ion-paper-airplane::before {
  content: "\f2c3"; }

.ion-document-text::before {
  content: "\f12e"; }

.ion-social-linkedin::before {
  content: "\f239"; }

.ion-social-github::before {
  content: "\f233"; }

.ion-social-codepen::before {
  content: "\f4dd"; }

.ion-social-dribbble::before {
  content: "\f22d"; }

.ion-social-twitter::before {
  content: "\f243"; }

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/anton-v9-latin-regular.eot");
  src: local("Anton Regular"), local("Anton-Regular"), url("fonts/anton-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/anton-v9-latin-regular.woff2") format("woff2"), url("fonts/anton-v9-latin-regular.woff") format("woff"), url("fonts/anton-v9-latin-regular.ttf") format("truetype"), url("fonts/anton-v9-latin-regular.svg#Anton") format("svg"); }
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/muli-v11-latin-regular.eot");
  src: local("Muli Regular"), local("Muli-Regular"), url("fonts/muli-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/muli-v11-latin-regular.woff2") format("woff2"), url("fonts/muli-v11-latin-regular.woff") format("woff"), url("fonts/muli-v11-latin-regular.ttf") format("truetype"), url("fonts/muli-v11-latin-regular.svg#Muli") format("svg"); }
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/muli-v11-latin-700.eot");
  src: local("Muli Bold"), local("Muli-Bold"), url("fonts/muli-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/muli-v11-latin-700.woff2") format("woff2"), url("fonts/muli-v11-latin-700.woff") format("woff"), url("fonts/muli-v11-latin-700.ttf") format("truetype"), url("fonts/muli-v11-latin-700.svg#Muli") format("svg"); }
html {
  background-color: #263952; }

body {
  font-family: 'Muli', -apple-system, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #9EFFE3;
  font-style: normal;
  text-rendering: optimizeLegibility;
  max-width: 800px;
  display: grid;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 32px 24px; }
  @media screen and (min-width: 848px) {
    body {
      padding: 64px 24px;
      grid-template: auto auto auto/68px 150px auto;
      grid-template-areas: "header header nav" "h1 h1 h1" "figure figure main"; }
      body header {
        grid-area: header; }
      body h1 {
        grid-area: h1; }
      body nav {
        grid-area: nav; }
      body main {
        grid-area: main; }
      body figure {
        grid-area: figure; } }

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

a {
  color: #9EFFE3;
  text-decoration: none;
  font-weight: 700; }
  a:hover {
    text-decoration: underline; }

header img {
  height: auto;
  width: 50px; }
  @media screen and (min-width: 848px) {
    header img {
      width: 68px; } }

h1 {
  font-family: 'Anton', Impact, -apple-system, sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1px; }
  @media screen and (min-width: 848px) {
    h1 {
      font-size: 50px;
      margin-bottom: 50px;
      margin-top: 100px; } }

main p {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 28px; }
  @media screen and (min-width: 848px) {
    main p {
      padding-left: 50px; }
      main p:last-child {
        margin-bottom: 0; } }

figure {
  margin: 0;
  padding: 8px 0 0 0; }
  figure .portrait {
    border: 2px solid rgba(158, 255, 227, 0.75);
    display: inline-block; }
    figure .portrait img {
      border: 4px solid #263952;
      max-width: 300px;
      display: flex;
      box-sizing: border-box; }
  figure figcaption {
    padding-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.75; }

nav {
  padding: 30px 0; }
  @media screen and (min-width: 848px) {
    nav {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end; } }
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap; }
    nav ul li a {
      padding: 0 8px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      transition: 0.15s ease-out;
      margin-bottom: 16px; }
      @media screen and (min-width: 848px) {
        nav ul li a {
          opacity: 0.7;
          margin-bottom: 0;
          padding: 0 12px; } }
      nav ul li a .name, nav ul li a .ion, nav ul li a .ionicons,
      nav ul li a .ion-ios-paper::before,
      nav ul li a .ion-paper-airplane::before,
      nav ul li a .ion-document-text::before,
      nav ul li a .ion-social-linkedin::before,
      nav ul li a .ion-social-twitter::before,
      nav ul li a .ion-social-dribbble::before,
      nav ul li a .ion-social-codepen::before,
      nav ul li a .ion-social-github::before {
        transition: 0.15s ease-out; }
      nav ul li a .ion, nav ul li a .ionicons,
      nav ul li a .ion-ios-paper::before,
      nav ul li a .ion-paper-airplane::before,
      nav ul li a .ion-document-text::before,
      nav ul li a .ion-social-linkedin::before,
      nav ul li a .ion-social-twitter::before,
      nav ul li a .ion-social-dribbble::before,
      nav ul li a .ion-social-codepen::before,
      nav ul li a .ion-social-github::before {
        font-size: 38px; }
      nav ul li a .ion, nav ul li a .ionicons,
      nav ul li a .ion-ios-paper::before,
      nav ul li a .ion-paper-airplane::before,
      nav ul li a .ion-document-text::before,
      nav ul li a .ion-social-linkedin::before,
      nav ul li a .ion-social-twitter::before,
      nav ul li a .ion-social-dribbble::before,
      nav ul li a .ion-social-codepen::before,
      nav ul li a .ion-social-github::before {
        padding-bottom: 8px; }
        @media screen and (min-width: 848px) {
          nav ul li a .ion, nav ul li a .ionicons,
          nav ul li a .ion-ios-paper::before,
          nav ul li a .ion-paper-airplane::before,
          nav ul li a .ion-document-text::before,
          nav ul li a .ion-social-linkedin::before,
          nav ul li a .ion-social-twitter::before,
          nav ul li a .ion-social-dribbble::before,
          nav ul li a .ion-social-codepen::before,
          nav ul li a .ion-social-github::before {
            padding-bottom: 0; } }
      @media screen and (min-width: 848px) {
        nav ul li a .name {
          opacity: 0; } }
      nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
        opacity: 1;
        text-decoration: none; }
        nav ul li a:hover .name, nav ul li a:active .name, nav ul li a:focus .name {
          opacity: 1; }
        nav ul li a:hover .ion, nav ul li a:hover .ionicons,
        nav ul li a:hover .ion-ios-paper::before,
        nav ul li a:hover .ion-paper-airplane::before,
        nav ul li a:hover .ion-document-text::before,
        nav ul li a:hover .ion-social-linkedin::before,
        nav ul li a:hover .ion-social-twitter::before,
        nav ul li a:hover .ion-social-dribbble::before,
        nav ul li a:hover .ion-social-codepen::before,
        nav ul li a:hover .ion-social-github::before, nav ul li a:active .ion, nav ul li a:active .ionicons,
        nav ul li a:active .ion-ios-paper::before,
        nav ul li a:active .ion-paper-airplane::before,
        nav ul li a:active .ion-document-text::before,
        nav ul li a:active .ion-social-linkedin::before,
        nav ul li a:active .ion-social-twitter::before,
        nav ul li a:active .ion-social-dribbble::before,
        nav ul li a:active .ion-social-codepen::before,
        nav ul li a:active .ion-social-github::before, nav ul li a:focus .ion, nav ul li a:focus .ionicons,
        nav ul li a:focus .ion-ios-paper::before,
        nav ul li a:focus .ion-paper-airplane::before,
        nav ul li a:focus .ion-document-text::before,
        nav ul li a:focus .ion-social-linkedin::before,
        nav ul li a:focus .ion-social-twitter::before,
        nav ul li a:focus .ion-social-dribbble::before,
        nav ul li a:focus .ion-social-codepen::before,
        nav ul li a:focus .ion-social-github::before {
          padding-bottom: 8px; }
    nav ul:hover li a .name, nav ul:active li a .name {
      opacity: 1; }
    nav ul:hover li a .ion, nav ul:hover li a .ionicons,
    nav ul:hover li a .ion-ios-paper::before,
    nav ul:hover li a .ion-paper-airplane::before,
    nav ul:hover li a .ion-document-text::before,
    nav ul:hover li a .ion-social-linkedin::before,
    nav ul:hover li a .ion-social-twitter::before,
    nav ul:hover li a .ion-social-dribbble::before,
    nav ul:hover li a .ion-social-codepen::before,
    nav ul:hover li a .ion-social-github::before, nav ul:active li a .ion, nav ul:active li a .ionicons,
    nav ul:active li a .ion-ios-paper::before,
    nav ul:active li a .ion-paper-airplane::before,
    nav ul:active li a .ion-document-text::before,
    nav ul:active li a .ion-social-linkedin::before,
    nav ul:active li a .ion-social-twitter::before,
    nav ul:active li a .ion-social-dribbble::before,
    nav ul:active li a .ion-social-codepen::before,
    nav ul:active li a .ion-social-github::before {
      padding-bottom: 8px; }

/*# sourceMappingURL=styles.css.map */
