<li>
  <a href="assets/img/george-in-a-nutshell-etc.pdf" target="_blank">
    <span class="ion ion-document" aria-hidden="true"></span>
    <span>Resume</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.codepen.io/geotrev" target="_blank">
    <span class="ion ion-social-codepen-outline" aria-hidden="true"></span>
    <span>Codepen</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.medium.com/@gwtrev" target="_blank">
    <span class="ion ion-ios-paper" aria-hidden="true"></span>
    <span>Blog</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.twitter.com/gwtrev" target="_blank">
    <span class="ion ion-social-twitter" aria-hidden="true"></span>
    <span>Twitter</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.github.com/geotrev" target="_blank">
    <span class="ion ion-social-github" aria-hidden="true"></span>
    <span>Github</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.dribbble.com/gwtrev" target="_blank">
    <span class="ion ion-social-dribbble-outline" aria-hidden="true"></span>
    <span>Dribbble</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="https://www.linkedin.com/in/gwtrev" target="_blank">
    <span class="ion ion-social-linkedin-outline" aria-hidden="true"></span>
    <span>LinkedIn</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>

<li>
  <a href="mailto:hello@geotrev.com" target="_blank">
    <span class="ion ion-paper-airplane" aria-hidden="true"></span>
    <span>Email</span>
    <span class="is-visually-hidden">(opens new tab)</span>
  </a>
</li>
