<!doctype html>
<html class="no-js" lang="en">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40391104-1', 'auto');
      ga('send', 'pageview');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>George Treviranus is a front-end and design systems engineer</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{root}}assets/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{root}}assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}assets/img/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon-32x32.png" sizes="32x32" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#263952" />
    <meta name="msapplication-TileImage" content="{{root}}assets/img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{root}}assets/img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{root}}assets/img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{root}}assets/img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{root}}assets/img/mstile-310x310.png" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton|Muli:400,700" rel="stylesheet" />

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    {{> body}}
  </body>
</html>
